html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.header{
   position: relative;
   float: left;
   left: 0%;
   width: 100%;
}
.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #cccccc
}
.left1{
   position: relative;
   float: left;
   left: 0.50%;
   width: 40.00%;
   background-color: #ccccff
}
.left2{
   position: relative;
   float: left;
   left: 1.50%;
   width: 20.00%;
   background-color: #ccccff
}
.left3{
   position: relative;
   float: left;
   left: 2.50%;
   width: 20.00%;
   background-color: #ccccff
}
.right{
   position: relative;
   float: right;
   right: 0.50%;
   width: 16.00%;
   background-color: #ccccff
}
.footer{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #cfcfcf
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #e7e7de
}
