/* Color */
  :root {
    --black: #111111;
    --white-purple: #FBFAFF;
    --white-pink: #FDF6F3;
    --white-blue: #EFF4FA;
    --blue: #94B7DD;
    --pink: #FBE2D9;
  }

/* Typography */


@font-face {
  font-family: 'Sneak';
  src: url('../fonts/Sneak-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sneak-Regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sneak-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Sneak-Regular.woff') format('woff'); /* Pretty Modern Browsers */
       font-weight: normal;
       font-style: normal;
           -webkit-font-smoothing: antialiased;

}

@font-face {
  font-family: 'Sneak';
  src: url('../fonts/Sneak-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sneak-Light.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sneak-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Sneak-Light.woff') format('woff'); /* Pretty Modern Browsers */
      font-weight: 300;
      font-style: normal;
      -webkit-font-smoothing: antialiased;

}



html {
   font-family: "Sneak", 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-feature-settings: "dlig","liga","ss01","ss02","ss03";
   font-weight: normal;

}

    /* setting the max width*/
 @media screen and (min-width: 50em) {
  html {
    font-size: 1.5em;
  }

}

  body {
    font-family: 'Sneak',Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--black);
  }

  h1 {
      font-size: 1.25em;
  }

  h2 {
      font-size: 1.25em;
  }

  h3 {
  }

  a {
    color: var(--black);
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }

  .small {
    font-size: 1em;
    font-weight: 300;
  }

  .regular {
    font-size: 1.25em;
    font-weight: 300;

  }

  .medium {
    font-size: 1.5em;
    line-height: 1.8;
    font-weight: lighter;

  }

  .large {
    font-size: 2em;
    font-weight: normal;

  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }

/* Colour */


/* Overall */
  html {

  }
  html, body {
    height: 100%;
    margin:0;
  }
  body {
    border-width: 0px;
    margin: 0;
    background-color: var(--white-purple);
  }

  .container-fluid {
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
  }

/* Header */
  header{
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
  }

  .header-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 80px 1fr;
      grid-gap: 0rem;
    }

  .logo {
    margin-top: 6px;
  }
  .contact{
    text-align: right;
  }
  .contact a{
    text-decoration: none;
  }
  .contact a:hover{
    text-decoration: underline;
  }

  .introduction{
    margin-top: 10vh;
    grid-column: 4 / 6;
  }

  nav {

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }

  li {
    float: left;
    padding-right: 0.5em;
  }

  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  li a:hover:not(.active) {
      color: var(--black);
}

  .active {
      color: var(--black);
  }

  .pagetitle-index {
    grid-column: 1 / 4;
  }

/* Content */
  article{
    padding-left: 4em;
    padding-right: 4em;

  }

  section{
    padding-top: 20vh;
    padding-bottom: 10vh;
  }

  .projects{
    grid-column: 1 / 4;
  }

  .who-hires-me{

  }

  .studio-experience{
    grid-column: 1 / 4;

  }

  .on-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
  }

  .table {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  }

  .table a{
    text-decoration: none;
    cursor: pointer;
  }

  .table-head{
    border-bottom: 1px solid #111111;
    margin-right: auto;
    padding-bottom: 16px;
  }

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #111111;
  }

  .title {
    display: block;
    padding: 1em 0;

  }
  .skills {
    display: block;
  }
  .arrow{
    font-family: 'Sneak';
    display: block;
  }

  .right {
    align-items: baseline;
    text-align: right;
    display: block;
    margin-left: auto;
    float: right;
  }

  .grid-2{
    grid-column: 4 / 6;
  }

  .grid-3 {
    grid column: 1 / 4;
  }
/* Functions */

  .back-home {
    grid-column: 1 / 2 ;
  }

  .back-home:before {
    display: inline-block;
    background-size: 2rem;

  }
/* Footer */

  footer {

  }

  footer a{

  }

/* Objects */


/* Media Queries */


@media only screen and (max-width: 768px) {

}



@media only screen and (max-width: 1200px) {
  body {

  }
